.app__layout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app__layoutMain {
	flex: 1;
}

.app__viewContainer {
	position: relative;
	overflow: hidden;
}

.app__viewContainer>* {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.app__viewTransition {
	opacity: 1;
	transform: none;
	transition-duration: 200ms;
	transition-property: opacity, transform;
}

.app__viewTransition:not(.active) {
	pointer-events: none;
	opacity: 0;
	transform: scale(0.9);
}

.app__navbarContainer {
	box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, .2);
	z-index: 10;
}

.app__navbar {
	min-height: 2em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: black;
	font-size: 1rem;
	user-select: none;
}

.app__navItem {
	flex: 1;
	text-align: center;
	padding: 1em 1.5em;
	background: #333;
	transition: filter .2s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app__navItem:hover {
	filter: contrast(80%);
}

.app__navItem.app__navItem--active {
	filter: contrast(60%);
}

.app__navItem:active {
	filter: contrast(50%);
}

.app__navItemIcon {
	margin: 0 0.2em;
}

.app__navItemLabel {
	font: 1rem sans-serif;
	color: white;
}